.img-header {
	background:-webkit-gradient(linear, 0 50, 0 49.99, from(#FFFFFF), to($naranjo-claro));
}

aside {
	.title-aside {
		@include titulos ($naranjo, 'Oswald', 1.4em); 
	}
	div .box-gallery {
		width: 20%;
		height: 50px;
		border: 1px solid $naranjo;
		background: $naranjo-claro;
		display: inline-block;
	}
}

.w100 {
	width: 100%;
}