footer {
	background: $naranjo-claro;
	.container {
		background: $naranjo;
		color: white;
		.row {
			.col {
				.footer {
					padding: 10px;
					h5 {
						font-family: 'Oswald', sans-serif;
					}
					p {
						time {
							display: block;
							font-size: 0.9em;
						}
					}
				}
			}
		}
	}
}