.header {
	.col {
		font-family: 'Oswald', sans-serif;
		.logo {
			a h1 {
				color: $naranjo;
				font-size: 2em;
				span {
					color: $naranjo-claro;
				}
			}
		}
	}
	.col.s7 {
		text-align: right;
		div {
			margin-top: 8%;
			ul {
				li {
					list-style: none;
					display: inline-block;
					padding-left: 15px;
					a {
						color: $gris-claro;
						text-decoration: none;
						display: block;
						&.active {
						color: $naranjo;
						}
					}
					:hover {
						color: $naranjo;
					}
				}
			}
		}
	}
}
