@mixin titulos ($color, $fuente, $tamano) {
	color: $color;
	font-family: $fuente;
	font-size: $tamano;
}

@mixin border-dashed ($left, $bottom, $right, $top) {
	border-left: $left;
	border-bottom: $bottom;
	border-right: $right;
	border-top: $top;
}
