section.img-header {
	.container {
		.title-page {
			@include titulos (white, 'Oswald', 1.5em);
			padding: 6px 0 20px 10px;
			background: $naranjo;
		}
		.row {
			.col {
				.about {
					img {
						padding: 4px;
						border: 1px solid $gris-claro;
						margin: 0 15px 15px 0;
						vertical-align: text-top;
						float: left;
					}
					p {
						padding-right: 15px;
					}
					div {
						border-left: 10px solid $naranjo;
						margin: 8%;
						padding: 0 2%;
						p {
							color: $naranjo;
						}
					}
				}
			}
		}
	}
}