.row {
	.col {
		h5 {
			@include titulos ($naranjo, 'Oswald', 0.8em); 
		}
		.date {
			color: $gris-claro;
		}
		h4 {
			@include titulos ($naranjo, 'Oswald', 1em);
		}
		&.s9, .s11 {
			padding-right: 20px;
		}
		.bg-gray {
			background: #F5F5F5;
			padding: 1% 2%;
			img {
				float: left;
				margin: 1%;
			}
			p {
				padding: 2%;
				margin-left: 5%;
			}
		}
		ul {
			li.paginador {
				list-style: none;
				display: inline-block;
				padding: 10px 15px;
				background: $naranjo;
				a {
					color: white;
					text-decoration: none;
					display: block;
				}
			}
		}
	}
}