.contact {
	.col {
		img {
			margin-bottom: 8%;
		}
		.row {
			.col {
				p span {
					color: $naranjo;
				}
				form {
					text-align: center;
					input {
						border: 1px solid $naranjo;
						:focus {
							border: 1px solid $naranjo;
							box-shadow: 0;
						}
					}
					textarea {
						border: 1px solid $naranjo;
						height: 200px;
					}
					a {
						@include titulos (white, 'Oswald', 1.4em);
						background: $naranjo;
						text-decoration: none;
						display: block;
						width: 100%;
						padding: 2%;
						:hover {
							background: $naranjo-claro;
						}
					}
				}
			}
		}
	}
}