.container .row {
	.col {
		.row {
			.col {
				img {
					margin: 14.5px 0;
				}
				.title-services {
					@include titulos ($naranjo, 'Oswald', 1em);
					margin-left: 15px;
				}
			}
		}
		.boton {
			background: $naranjo;
			color: white;
			font-family: 'Oswald', sans-serif;
			padding: 10px 12px;
		}
		h4 {
			@include titulos ($naranjo, 'Oswald', 1.2em)
			}
		.bg-title {
			background-image: url("../../../images/heading-bg.png");
			//background-repeat: repeat-x;
		}
	}
	.col {
		.cont-imagenes {
			@include border-dashed (1px dotted $gris-claro, 1px dotted $gris-claro, 1px dotted $gris-claro, 0);
			padding: 10px;
			p {
				@include titulos ($gris-claro, 'Oswald', 1em);
				margin: 0;
			}
			time {
				@include titulos ($naranjo, 'Oswald', 0.8em);
			}
		}
	}
}