.portfolio {
	.row {
		.col {
			h4 {
				@include titulos (#414141, 'Oswald', 1.4em);
				display: inline;
				font-weight: 300;
			}
			ul {
				display: inline-block;
				li.category {
					list-style: none;
					display: inline-block;
					padding: 10px 15px;
					a {
						@include titulos ($gris-claro, 'Oswald', 1em); 
						text-decoration: none;
						display: block;
					}
				}
				:hover {
					background: $naranjo;
				}
			}
			.img-portfolio {
				padding: 2px;
				border: 1px solid $gris-claro;
			}
			div {
				@extend .img-portfolio;
				padding: 2%;
				h4 {
					@include titulos ($gris-claro, 'Oswald', 1em); 
				}
				p {
					@include titulos ($naranjo, 'Oswald', 0.8em); 
				}
			}
		}
	}
}