ul li.category {
  list-style: none;
  display: inline-block;
  padding: 10px 15px; }
  ul li.category a {
    color: white;
    text-decoration: none;
    display: block; }

/*# sourceMappingURL=_portfolio.css.map */
